@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
}


.banner-shape {
  width: 600px;
  height: 250px;
  background: #f3f6fb;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.banner-shape::after {
  content: "";
  position: absolute;
  bottom: -80px;
  left: -120px;
  width: 900px;
  height: 300px;
  background: #f3f6fb;
  border-radius: 50%;
}